<h1>Dwight's Music Machine!</h1>
<p>
  Currently keys are mapped to a single C octave.<br>
  They run as follows:<br>
  |z| |x| |c| |v| |b| |n| |m| |,|
</p>

<div id="content"></div>

<script type="text/javascript">
  React.render(React.createElement(Organ), document.getElementById('content'));
  React.render(React.createElement(Recorder), document.getElementById('content'));
</script>
